h4 {
    text-align: center;
}

dl {
    text-align: center;
}

dd {
    margin-inline-start: 0;
}

p {
    text-align: justify;
}

.highlight66B2FF {
    background-color: #66B2FF;
}

.highlightEFD610 {
    background-color: #EFD610;
}

.highlight2ECC71 {
    background-color: #2ECC71;
}

.searchtext {
    background-color: pink;
}


