ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --max-height: 350px;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
  
  ion-modal#example-modal .wrapper {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 200px;
    overflow-y: auto;
  }

  .mw-headline {
    text-align: center;
  }
