



ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --max-height: 350px;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
  
  ion-modal#example-modal .wrapper {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 200px;
    overflow-y: auto;
  }

  .mw-headline {
    text-align: center;
  }

  #container {
    min-width: 200px;
    height: 400px;
  }

  ion-card {
    box-shadow: var(--ion-box-shadow)
  }

  ion-datetime {
    --background: var(--ion-background-color);
    --background-rgb: var(--ion-background-rgb);
    --wheel-highlight-background: #CCEEFF;
  }
  

  
  ion-datetime::part(wheel-item active) {
    color: rgba(0, 0, 0);
  }

  ion-item {
    --background: rgba(0, 0, 0, 0); /* Fully transparent background */
  }

  ion-checkbox::part(container) {
    border-radius: 6px;
    border: var(--ion-border);
  }

ion-toggle::part(track),
ion-toggle.toggle-checked::part(track) {
  
  border: var(--ion-border);
  
}

ion-card-title {
  white-space: nowrap;        /* Prevent text from wrapping */
  overflow: hidden;           /* Hide any overflowing content */
  text-overflow: ellipsis;    /* Show ellipsis (...) when content overflows */
  max-width: 100%;            /* Limit the width of the container */
  font-size: 25px;            /* Initial font size */
}

audio {
  
  width: 100%;
  display: block;
}

audio::-webkit-media-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

audio::-webkit-media-controls-panel {
  
}



audio::-webkit-media-controls-timeline {
  
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  
}
