ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --max-height: 350px;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
  
  ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
    max-height: 200px;
    overflow-y: auto;
  }

  .mw-headline {
    text-align: center;
  }

  /* ion-datetime {
    --background: rgb(245, 235, 247);
    --background-rgb: 245, 235, 247;
    --wheel-highlight-background: rgb(218, 216, 255);
    --wheel-fade-background-rgb: 245, 235, 247;
  }
  
  ion-datetime::part(wheel-item) {
    color: rgb(255, 66, 97);
  }
  
  ion-datetime::part(wheel-item active) {
    color: rgb(128, 30, 171);
  }

  ion-datetime .picker-highlight {
    width: 500px;
  } */